
<ul>
  <% @restaurants.each do |restaurant| %>
    <li><%= link_to restaurant.name, restaurant_path(restaurant)%></li>
    <li><%= restaurant.category%></li>
    <li><%= restaurant.address%></li>
  <% end %>
</ul>
